In [11]:
import pandas as pd

Animales=pd.Series(['Gato','Tortuga','Perro','Perro','Perro','Perro','Gato','Perro','Perro'])

fi=Animales.value_counts(sort=False)
fi=fi.reindex(['Gato','Perro','Tortuga'])
tabla=pd.DataFrame({
    'fi':fi,
    'hi (%)':fi/fi.sum()*100
}).round(2)

tabla

         fi  hi (%)
Gato      2   22.22
Perro     6   66.67
Tortuga   1   11.11

Tabla de frecuencias de la red social preferida
- Base de datos de lab 1 - pregunta 1

In [4]:
import pandas as pd

df=pd.read_excel('Encuesta_uso_redes.xlsx')
fi=df['Red Social Preferida'].value_counts()
fi

tabla=pd.DataFrame({
    'fi':fi,
    'hi (%)':fi/fi.sum()*100
}).round(2)

tabla

                      fi  hi (%)
Red Social Preferida
LinkedIn              64   21.33
X                     56   18.67
TikTok                51   17.00
Instagram             50   16.67
Facebook              40   13.33
Snapchat              39   13.00

In [5]:
df

,Edad,Red Social Preferida,Horas Promedio Diario,Nivel Satisfacción Internet
0,24,X,1.0,Neutral
1,32,Snapchat,2.2,Satisfecho
2,28,LinkedIn,1.8,Insatisfecho
3,25,X,1.0,Neutral
4,24,Snapchat,2.5,Muy insatisfecho
...,...,...,...,...
295,25,LinkedIn,4.1,Satisfecho
296,29,TikTok,3.4,Muy insatisfecho
297,29,X,5.7,Satisfecho
298,22,X,0.7,Insatisfecho
299,24,TikTok,7.2,Muy satisfecho

In [10]:
frecuencia=df['Nivel Satisfacción Internet'].value_counts()
frecuencia=frecuencia.reindex(['Muy insatisfecho','Insatisfecho','Neutral','Satisfecho','Muy satisfecho'])

tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi (%)':frecuencia/frecuencia.sum()*100
}).round(2)

tabla

                              fi  hi (%)
Nivel Satisfacción Internet
Muy insatisfecho              33   11.00
Insatisfecho                  47   15.67
Neutral                      117   39.00
Satisfecho                    68   22.67
Muy satisfecho                35   11.67

In [20]:
Hermanos=pd.Series([1,3,0,1,1,1,1,3])
frecuencia=Hermanos.value_counts().sort_index()

tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi':frecuencia/frecuencia.sum()*100,
    'Fi':frecuencia.cumsum(),
    'Hi':frecuencia.cumsum()/frecuencia.sum()*100
})

tabla

   fi    hi  Fi     Hi
0   1  12.5   1   12.5
1   5  62.5   6   75.0
3   2  25.0   8  100.0

In [21]:
df.head()

,Edad,Red Social Preferida,Horas Promedio Diario,Nivel Satisfacción Internet
0,24,X,1.0,Neutral
1,32,Snapchat,2.2,Satisfecho
2,28,LinkedIn,1.8,Insatisfecho
3,25,X,1.0,Neutral
4,24,Snapchat,2.5,Muy insatisfecho

In [24]:
frecuencia=df['Edad'].value_counts().sort_index()

tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi':frecuencia/frecuencia.sum()*100,
    'Fi':frecuencia.cumsum(),
    'Hi':frecuencia.cumsum()/frecuencia.sum()*100
}).round(2)

tabla

      fi    hi   Fi      Hi
Edad
18    27  9.00   27    9.00
19    19  6.33   46   15.33
20    26  8.67   72   24.00
21    15  5.00   87   29.00
22    16  5.33  103   34.33
23    13  4.33  116   38.67
24    22  7.33  138   46.00
25    21  7.00  159   53.00
26    17  5.67  176   58.67
27    12  4.00  188   62.67
28    12  4.00  200   66.67
29    20  6.67  220   73.33
30    11  3.67  231   77.00
31    14  4.67  245   81.67
32    17  5.67  262   87.33
33    19  6.33  281   93.67
34    19  6.33  300  100.00

In [25]:
frecuencia=df['Horas Promedio Diario'].value_counts().sort_index()

tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi':frecuencia/frecuencia.sum()*100,
    'Fi':frecuencia.cumsum(),
    'Hi':frecuencia.cumsum()/frecuencia.sum()*100
}).round(2)

tabla

                       fi    hi   Fi      Hi
Horas Promedio Diario
0.1                     2  0.67    2    0.67
0.2                     2  0.67    4    1.33
0.3                     2  0.67    6    2.00
0.4                     5  1.67   11    3.67
0.5                     3  1.00   14    4.67
...                    ..   ...  ...     ...
6.3                     2  0.67  296   98.67
6.4                     1  0.33  297   99.00
6.8                     1  0.33  298   99.33
7.2                     1  0.33  299   99.67
7.5                     1  0.33  300  100.00

[65 rows x 4 columns]

In [ ]:
import numpy as np

import pandas as pd

# df.shape[0] devuelve el número total de filas (n) en el DataFrame
n = df.shape[0]
inter = int(round(1 + 3.322 * np.log10(n)))
intervalos=pd.cut(df['Horas Promedio Diario'],bins=9,include_lowest=True,precision=2)

frecuencia=intervalos.value_counts().sort_index()
frecuencia

tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi':frecuencia/frecuencia.sum()*100,
    'Fi':frecuencia.cumsum(),
    'Hi':frecuencia.cumsum()/frecuencia.sum()*100
}).round(2)

tabla

                       fi     hi   Fi      Hi
Horas Promedio Diario
(0.083, 0.92]          28   9.33   28    9.33
(0.92, 1.74]           34  11.33   62   20.67
(1.74, 2.57]           54  18.00  116   38.67
(2.57, 3.39]           59  19.67  175   58.33
(3.39, 4.21]           56  18.67  231   77.00
(4.21, 5.03]           35  11.67  266   88.67
(5.03, 5.86]           22   7.33  288   96.00
(5.86, 6.68]            9   3.00  297   99.00
(6.68, 7.5]             3   1.00  300  100.00

In [14]:
Hermanos.cumsum()

0     1
1     4
2     4
3     5
4     6
5     7
6     8
7    11
dtype: int64

In [ ]:
variable=[]

## Resumen

In [ ]:
#Tabla variable cualitativa nominal
frecuencia=variable.value_counts()

tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi':frecuencia/frecuencia.sum()*100
}).round(2)

#Tabla variable cualitativa ordinal
frecuencia=variable.value_counts()
frecuencia=frecuencia.reindex(['Orden deseado de las variables'])

tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi':frecuencia/frecuencia.sum()*100
}).round(2)

#Tabla variable cuantitativa discreta

frecuencia=variable.value_counts().sort_index()
tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi':frecuencia/frecuencia.sum()*100,
    'Fi':frecuencia.cumsum(),
    'Hi':frecuencia.cumsum()/frecuencia.sum()*100
}).round(2)

#Tabla variable cuantitativa continua
inter='numero de intervalos'

intervalos=pd.cut(variable,bins=inter,include_lowest=True,precision=2)
frecuencia=intervalos.value_counts().sort_index()

tabla=pd.DataFrame({
    'fi':frecuencia,
    'hi':frecuencia/frecuencia.sum()*100,
    'Fi':frecuencia.cumsum(),
    'Hi':frecuencia.cumsum()/frecuencia.sum()*100
}).round(2)